body {
    background-color: #000000;
    color: #3d3b3b;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 400px;
    background-color: hsla(60, 20%, 13%, 0.555);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1d1a1a42;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1{
    color: #a00b0b;
    text-align: center;
}

h3{
    color: #ffffff;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.card{
    background: #252525;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #800909;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #bb1111;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.formulario{
    justify-content: center;
    padding: 20px;
}

button:hover{
    background-color: #ac6d1b;
}

ul {
    list-style: nome;
    padding: 0 ;
}

li {
    padding: 5px 0;
    color: #ffffff;
}

input, select {
    width: 1000;
    padding:  10px;
    margin: 8px 0;
    border-radius: 5px;
    border:  1px solid #492f07;
    background-color: #ffffff;
    color: #ccc ;
    box-sizing:  border-box;
}

hr {
    border: 0;
    border-top: 1px solid #2c282852;
    margin:  20px 0;
}

.card{
    background: #201b1b;
    padding:  15px;
    margin-top: 15px;
    border-left: 5px solid #090a0a;
}